/*fonts*/
@font-face {
  font-family: "mrrobotregular";
  src: url("/fonts/mrrobot.eot");
  src: url("/fonts/mrrobot.eot") format("embedded-opentype"),
    url("/fonts/mrrobot.woff2") format("woff2"),
    url("/fonts/mrrobot.woff") format("woff"),
    url("/fonts/mrrobot.ttf") format("ttf"),
    url("/fonts/mrrobot.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fsex300";
  src: url("/fonts/fsex300.eot");
  src: url("/fonts/fsex300.eot") format("embedded-opentype"),
    url("/fonts/fsex300.woff2") format("woff2"),
    url("/fonts/fsex300.woff") format("woff"),
    url("/fonts/fsex300.ttf") format("ttf"),
    url("/fonts/fsex300.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*constants*/
:root {
  --primary-font: "mrrobotregular";
  --secondary-font: "fsex300";
  --dark-color: #202020;
  --title-color: #d32026;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #202020;
  position: relative;
  overflow: hidden;
}

h1 {
  font-family: var(--primary-font);
  font-size: 7em;
  font-synthesis: none;
  color: var(--title-color);
}

p {
  font-family: "fsex300";
  color: white;
}

/*terminal*/

#terminal {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 500px;
  left: 500px;
  background-color: black;
  border: 2px solid white;
  transition: all 0.5s ease;
  padding: 5px 2px;
}

#command-line {
  border: 2px solid white;
  font-family: var(--secondary-font);
  background-color: black;
  color: white;
}
