/*fonts*/
@font-face {
  font-family: "mrrobotregular";
  src: url("/fonts/mrrobot.eot");
  src: url("/fonts/mrrobot.eot") format("embedded-opentype"),
    url("/fonts/mrrobot.woff2") format("woff2"),
    url("/fonts/mrrobot.woff") format("woff"),
    url("/fonts/mrrobot.ttf") format("ttf"),
    url("/fonts/mrrobot.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fsex300";
  src: url("/fonts/fsex300.eot");
  src: url("/fonts/fsex300.eot") format("embedded-opentype"),
    url("/fonts/fsex300.woff2") format("woff2"),
    url("/fonts/fsex300.woff") format("woff"),
    url("/fonts/fsex300.ttf") format("ttf"),
    url("/fonts/fsex300.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*constants*/
:root {
  --primary-font: "mrrobotregular";
  --secondary-font: "fsex300";
  --dark-color: #202020;
  --title-color: #d32026;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #202020;
  position: relative;
  overflow: hidden;
}

h1 {
  font-family: var(--primary-font);
  font-size: 7em;
  font-synthesis: none;
  color: var(--title-color);
}

p {
  font-family: "fsex300";
  color: white;
}

/*header*/
header {
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

h1 {
  margin-right: 30px;
}

/*terminal-icon*/
#terminal-icon {
  position: absolute;
  bottom: 50px;
  left: 40px;
}

#terminal-icon div {
  padding: 5px;
  width: 50px;
  height: 40px;
  background-color: black;
  border: 2px solid white;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

#terminal-icon div i {
  color: white;
}

#terminal-icon p {
  color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 0.8em;
}

/*terminal*/

#terminal {
  width: 60%;
  height: 400px;
  opacity: 0;
  top: 30%;
  left: 30%;
  position: absolute;
  background-color: black;
  border: 2px solid #6a847b;
  transition: all 0.01s ease;
}

#terminal #terminal-bar {
  width: 100%;
  position: relative;
  padding: 5px;
  background: linear-gradient(
    180deg,
    rgba(106, 132, 123, 1) 0%,
    rgba(0, 0, 0, 1) 30%
  );
}

#terminal #terminal-bar p {
  text-align: center;
  cursor: default;
}

#terminal .close-btn {
  position: absolute;
  top: 7px;
  right: 10px;
  color: white;
  cursor: pointer;
}

#commands-wrapper {
  padding: 0 2px;
  /* overflow: scroll; */
  height: -webkit-fill-available;
}

#command-line {
  border: 2px solid white;
  font-family: var(--secondary-font);
  background-color: black;
  color: white;
}

/*footer*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  padding-right: 20px;
}

footer p {
  text-align: end;
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.4);
}

/*animations*/

.open-terminal {
  animation: open-terminal 0.05s linear forwards;
}

@keyframes open-terminal {
  100% {
    opacity: 1;
  }
}
